<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./css/reset.css">
    <title>Flat World Solution</title>
    
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul class="navigation-list">
                <li class="navigation-item"><b>About Us</b></li>
                <li class="navigation-item"><b>How We Work</b></li>
                <li class="navigation-item"><b>Delivery Centers</b></li>
                <li class="navigation-item"><b>Testimonials</b></li>
                <li class="navigation-item"><b>FAQs</b></li>
                <li class="navigation-item"><b>Success Stories</b></li>
                <li class="navigation-item"><b>Careers</b></li>
                <li class="navigation-item"><b>Contact Us</b></li>
            </ul>
        </div>
        <div class="header">
            <div class="logo">
                <img src="images/logo.png" width="180px" height="50px">
            </div>
             <div class="heading">
                <p class="paragraph-heading">expanding posibilities</p>
            </div>
            <div class="navigation-search">
                <input type="text" class="navigation-search-input" placeholder="site search">
                <button class="navigation-search-button">search</button>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="menu-item">Call Center Services</a>
            <a href="#" class="menu-item">Data Entry Services</a>
            <a href="#" class="menu-item">Engineering Services</a>
            <a href="#" class="menu-item">Healthcare Services</a>
            <a href="#" class="menu-item">Financial Services</a>
            <a href="#" class="menu-item">Software Development</a>
            <a href="#" class="menu-item">Photo Editing</a>
            <a href="#" class="menu-item">Transcription Services</a>
            <a href="#" class="menu-item">Design Services</a>
            <a href="#" class="menu-item">Research & Analysis </a>
            <a href="#" class="menu-item">Web Analysis</a>
            <div class="dropdown">
                <select class="dropdownbtn">
                    <option>Other Services</option>
                    <option>Link 1</option>
                    <option>Link 2</option>
                    <option>Link 3</option>
                </select>
              </div>
        </div>
        <div class="header-2">
            <h6 class="header-2-heading">Virtual Assistant Services</h6>
        </div>
        <div class="sub-container-1">
            <div class="sub-container-1-content">
                <img src="images/Capture.PNG" height="200" width="290">
                <div class="paragraph">
                    <h6 class="paragraph-heading-2">Pressed for Time?</h6>
                    <p class="paragraph-content"><b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas dolores expedita quasi perferendis amet omnis doloribus sed sunt beatae aperiam? Nisi, facere deleniti! Ducimus debitis, ea doloribus accusantium cupiditate maxime adipisci, officiis ab cum sed totam commodi porro molestias natus incidunt sequi in dolorum. Provident corrupti ea non sapiente quibusdam?!</b> </p>
                    <button class="btn">Contact Us</button>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div>
                            <h1 class="box-content-heading-1">Virtual Assistant Services</h1>
                        </div>
                        <div>
                            <h4 class="box-content-heading-2">Correspondence Management</h4>
                        </div>
                    </div>
                    <ul class="box-content-list">
                        <li class="box-content-list-item">Expert appointment scheduling</li>
                        <li class="box-content-list-item">Professional call answering</li>
                        <li class="box-content-list-item">Efficient travel planning</li>
                        <li class="box-content-list-item">Correspondence Management</li>
                    </ul>
                    <div>
                        <div class="box-1">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-container-2">
            <div class="sub-container-2-1">
                <div class="left-1">
                    How It Works
                </div>
                <div class="left-content-1">
                    <img src="images/sharing.png">
                    <ul class="left-content-list">
                        <li class="left-content-list-item">We understand your requirement</li>
                        <li class="left-content-list-item">Identify and assign the right assistant for ypu</li>
                        <li class="left-content-list-item">Design the workflow and SLA</li>
                        <li class="left-content-list-item">Monitor the performance of your assistant</li>
                        <li class="left-content-list-item">Send your periodic reports</li>
                        <div class="link-1">
                            <a href="#">Know how it works</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="sub-container-2-2">
                <div class="left-2">
                    Our Pricing
                </div> 
                <div class="left-content-2">
                    <img src="images/pricing.png" style="width: 254px; height: 98px; border: 1px solid #e9e9e9;">
                    <div class="left-2-pg">
                        <div class="left-2-pg-1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum suscipit nesciunt similique recusandae sit vero consectetur ad corrupti unde beatae?
                        </div>
                        <div class="left-2-pg-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt, minus aperiam officia ipsa unde.
                        </div>
                        <div class="link-2">
                            <a href="#">Know Our Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-container-2-3">
                <div class="left-3">
                    Hire Our Virtual Assistant
                </div> 
                <div class="left-content-3">
                    <img src="images/hire.PNG" style="width: 254px; height: 98px; border: 1px solid #e9e9e9;">
                    <div class="left-3-pg">
                        <div class="left-3-pg-1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum suscipit nesciunt similique recusandae sit vero consectetur ad corrupti unde beatae?
                        </div>
                        <div class="left-3-pg-2">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem illo aliquid eum cum quis tenetur atque ullam recusandae incidunt. Odit quidem aliquid, blanditiis magni doloremque illo. Possimus culpa quis quae molestias, omnis incidunt, voluptates corrupti cupiditate id ad amet asperiores accusantium corporis illum necessitatibus facilis quod recusandae saepe numquam maiores.
                        </div>
                        <div class="link-3">
                            <a href="#">Hire A Virtual Assistant Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-container-3">
            <div class="sub-container-3-1">
                <div class="right">
                    What Our Virtual Assistant Can Help You With?
                </div>
                <ul class="custom-list glyphicon">
                    <li>Data Entry </li>
                    <li>Event Planning </li>
                    <li>Internet Research </li>
                    <li>Business Card planning </li>
                    <li>Appointment Scheduling </li>
                    <li>Call Answering </li>
                    <li>Correspondence Management </li>
                    <li>Desktop publishing Services </li>
                    <li>Presentation Creation </li>
                    <li>Travel And Hotel Reservation </li>
                </ul>
            </div>
            <div class="sub-container-3-2">
                <div class="right-pg-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi harum officia sit ducimus. Pariatur, quasi! Esse labore quo explicabo numquam ipsum cumque voluptatem atque voluptatum dolorum quis repudiandae tempore tenetur autem corporis fugiat minima sunt nostrum, veritatis quos libero consectetur? Rem non, expedita eaque in nesciunt magnam dolor magni laudantium eveniet asperiores ad libero ut, quam eius aut placeat, nostrum voluptatem? Neque illum quisquam voluptatem eveniet accusantium quia tenetur ipsa placeat saepe nemo natus, quae qui porro maxime cum ipsam?
                </div>
                <div class="right-pg-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, atque repellat necessitatibus voluptatum veritatis magni architecto commodi modi. Reiciendis autem nobis vero beatae, praesentium iure quasi incidunt numquam perspiciatis eos, aperiam alias, id similique? Doloribus accusantium maiores neque facere non odio tenetur voluptate nobis quae veritatis at fugit laudantium placeat commodi error quo enim culpa quisquam repudiandae odit assumenda ex, quos exercitationem.
                </div>
                <div class="right-pg-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora veniam deleniti voluptatum quasi quibusdam maiores a, corrupti possimus molestias, corporis sit, laudantium sed reprehenderit porro! Omnis iure molestias quisquam provident? Ut dolor, beatae perferendis ex perspiciatis magnam repudiandae possimus! Officiis asperiores, neque consectetur voluptatibus quos eveniet et quod quasi rem molestias enim? In velit, dicta animi iste eaque voluptates ex vero? 
                </div>
                <div class="link-4">
                    <a href="#">Hire A Virtual Assistant Now!</a>
                </div>
                <div class="button">
                    <button class="btn-2">Contact Us</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-1">
                <div class="link-5">
                    <a href="#">Visit Our Blog</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">Sitemap</a>
                </div>
                <div class="note">This information in this site can not be commercially used without the prior consent of Flatworld Solution Pvt.Ltd. Read the <u>Terms Of Use</u> & <u>Privacy Statement</u> of this website.
                </div>
                <div class="copyright">
                    &copy; 2006-2009 Flatworld Solution Pvt.Ltd. All
                    rights reserved.
                </div>
            </div>
            <div class="right-1">
                <div class="map">
                    <img class="footerimg" src="images/map.PNG" >
                </div>
            </div>
            <div class="right-2">
                <div class="button-3">
                    <button class="btn-3">Customer Location</button>
                </div>
                <div class="button-4">
                    <button class="btn-4">Delivery Centers</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
       